<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150821098285-e2eijv0sqk6m1cpq8t5f893r47piqftq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150821098285-e2eijv0sqk6m1cpq8t5f893r47piqftq</string>
	<key>API_KEY</key>
	<string>AIzaSyCAG5D-munxbkK_M_7xJ8tfKyeIfqjBmsg</string>
	<key>GCM_SENDER_ID</key>
	<string>150821098285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v.OnlineLibrary</string>
	<key>PROJECT_ID</key>
	<string>onlinelibrary-3527d</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinelibrary-3527d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150821098285:ios:d9e16670c23106a5cb79a4</string>
</dict>
</plist>